@model HalloDocs.Entities.ViewModels.AdminLoginViewModel;

@{
    Layout = "_LayoutAdmin";
}

<div class="row d-flex flex-row container-fluid h-100 w-100 m-0 p-0 ">
    <div class="col col-md-6 d-none d-md-block h-100 w-100">
        <img class="h-100 w-100" src="~/SRS Screen Shorts/11116016_415.jpg">
    </div>
    <div class="col col-md-6  h-100 w-100 d-flex flex-column justify-content-between align-items-center">
        <div class="w-100 ">
            <div class="w-100 d-flex justify-content-end pt-2 px-5">
                <button type="button" class="btn btn-outline-info " onclick="dark_mode()"><i class="bi bi-moon moon-icon "></i></button>
            </div>
            <div class="w-100 d-flex justify-content-center">
                <img src="~/SRS Screen Shorts/Fig56. Patient site 11.png" alt="">
            </div>
        </div>

        <div class="form d-flex flex-column justify-content-between align-content-center text-align-center">
            <h2 class="text-black my-4">Login To Your Account</h2>

            <form asp-controller="Admin" asp-action="AdminForgotPassword" method="post">
                <div class="form-floating m-2">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                    <label asp-for="Email">Email</label>
                    <i class="bi bi-person-circle user-icon icon"></i>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                
                <button class="container btn btn-info text-white my-3" type="submit">Login</button>

                <a asp-route="AdminLogin" class="pt-4 align-text-center align-content-center text-decoration-none text-info fs-5 fw-bolder">&lt; Back To Login</a>
            </form>
        </div>
        <div class="text-center footer mt-5">
            <a href="#" class="text-muted text-decoration-none">Terms Of Conditions</a> |
            <a href="#" class="text-muted text-decoration-none">Privacy Policy</a>
        </div>

    </div>

</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}