<div class="position-fixed bottom-0 container-fluid p-0 m-0">
    <footer class="footer w-100 text-center bg-dark d-flex justify-content-end align-item-center p-3  fix-bottom right-0 left-0">
        <a href="#" class="text-light text-decoration-none">Terms Of Conditions </a>
        <a href="#" class="text-light text-decoration-none">| Privacy Policy</a>
    </footer>
</div>
