<header class="container-fluid w-100 bg-white shadow d-flex justify-content-between align-items-center sticky-top bg-white ">
    <a class="navbar-brand" asp-route="PatientSite">
        <img src="~/SRS Screen Shorts/Fig56. Patient site 11.png" alt="" width="100" height="60">
    </a>
    <button type="button" class="btn btn-outline-info px-3 mx-3 " onclick="dark_mode()"><i class="bi bi-moon moon-icon "></i></button>
</header>
