<!-- pop up box show when email are not connecting -->

<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body text-center">
                <div class="m-3">
                    <img src="~/SRS Screen Shorts/exclamation-circle-fill.svg"
                         class="border img-fluid border-warning p-1 rounded-circle mx-auto  " alt="...">
                </div>
                <h4 class="m-4">Information</h4>
                <p class="popup mb-3">
                    When submiting the request you must provide the correct contact information for the patient or
                    the responible party. Failure to provide the correct email and phone number will delay service
                    or declined.
                </p>
                <div class="text-center m-2">
                    <button type="button" class="btn btn-primary btn1 m-3" data-bs-dismiss="modal">OK</button>
                </div>

            </div>
        </div>

    </div>

</div>
