@model HalloDocs.Entities.ViewModels.ConciergeRequestViewModel;
@{
    Layout = "_Layout";
}
<partial name="~/Views/Shared/_Header.cshtml" />

<div class=" min-h-100  d-flex flex-column justify-content-between align-items-center">
    <div class="container pb-5">
        <div class=" py-2  my-2 d-flex justify-content-end align-items-start">
            <a asp-route="SubmitRequestTypes" class="p-1 btn btn-outline-info"> &lt; Back  </a>
        </div>
        <form asp-controller="Patient" asp-action="ConciergeTypeRequest" class="px-s shadow-lg boder-0 bg-white">

            <h5 class="pt-4">Concierge Information</h5>
            <div class="row input-group justify-content-between align-items-center">
                <div class="col-12 col-md-6 col-lg-6 mb-3 ">
                    <div class="form-floating ">
                        <input asp-for="FirstName" class="form-control" type="text" id="First-Name" placeholder="First Name" >
                        <label asp-for="FirstName">Your First Name</label>
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-12 col-md-6 col-lg-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="LastName" class="form-control" type="text" id="Last-Name" placeholder="Last Name" >
                        <label asp-for="LastName">Your Last Name</label>
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3  col-md-6 col-lg-6">
                    <div class="form-floating ">
                        <input asp-for="ContryCode" id="CountryCode" type="hidden" />
                        <input asp-for="PhoneNumber" type="tel" class="form-control" id="PhoneNumber" onchange="validatePhoneNumber()">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        <span id="textChange"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-3 ">
                    <div class="form-floating ">
                        <input asp-for="Email" class="form-control" type="email" id="Email" placeholder="Email " >
                        <label asp-for="Email">Your Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-3 ">
                    <div class="form-floating ">
                        <input asp-for="PropertyName" class="form-control" type="text" id="Last-Name" placeholder="Last Name" >
                        <label asp-for="PropertyName">Hotel/Property Name</label>
                        <span asp-validation-for="PropertyName" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <h5 class="pt-4">Concierge Location</h5>
            <div class="row input-group mb-3 justify-content-between align-items-center">
                <div class=" col-12 col-md-6 col-lg-6 mb-3 row2">
                    <div class="form-floating">
                        <input asp-for="Street" class="form-control" type="text" id="Street" placeholder="Street" >
                        <label asp-for="Street">Street</label>
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-12 col-md-6 col-lg-6 mb-3 row2">
                    <div class="form-floating">
                        <input asp-for="City" class="form-control" type="text" id="City" placeholder="City"  />
                        <label asp-for="City">City</label>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-12 col-md-6 col-lg-6 mb-3 row2">
                    <div class="form-floating">
                        <input asp-for="State" class="form-control" type="text" id="State" placeholder="State" >
                        <label asp-for="State">State</label>
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-12 col-md-6 col-lg-6 mb-3 row2">
                    <div class="form-floating">
                        <input asp-for="ZipCode" class="form-control" type="text" id="Zip Code" placeholder="Zip Code" >
                        <label asp-for="ZipCode">Zip Code</label>
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <h5 class="pt-4">Patient Information</h5>
            <div class="row input-group justify-content-between align-items-center">
                <div class="col-12 mb-3 ">
                    <div class="form-floating ">
                        <textarea asp-for="PatientSymptoms" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter Brief Details Of Sympotonms (Optional)" ></textarea>
                        <label asp-for="PatientSymptoms" class="mx-3 ">Enter Brief Details Of Sympotonms (Optional)</label>
                        <span asp-validation-for="PatientSymptoms" class="text-danger"></span>
                    </div>

                </div>
                <div class=" col-12 col-md-6 col-lg-6 mb-3 ">
                    <div class="form-floating ">
                        <input asp-for="PatientFirstName" class="form-control" type="text" id="First-Name" placeholder="First Name" >
                        <label asp-for="PatientFirstName">First Name</label>
                        <span asp-validation-for="PatientFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-12 col-md-6 col-lg-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="PatientLastName" class="form-control" type="text" id="Last-Name" placeholder="Last Name" >
                        <label asp-for="PatientLastName">Last Name</label>
                        <span asp-validation-for="PatientLastName" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-12 col-md-6 col-lg-6 mb-3">
                    <div class="form-floating ">
                        <input asp-for="PatientDateOfBirth" class="form-control" type="date" id="date-of-birth" max="@DateTime.Now.ToString("yyyy-MM-dd")" placeholder="date-of-birth" >
                        <label asp-for="PatientDateOfBirth">Date Of Birth</label>
                        <span asp-validation-for="PatientDateOfBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <h5 class="pt-4">Patient Contact Information</h5>
            <div class=" row input-group mb-3 justify-content-between align-items-center">
                <div class=" col-12 col-md-6 col-lg-6 mb-3 ">
                    <div class="form-floating">
                        <input asp-for="PatientEmail" class="form-control" type="email" id="Email" placeholder="Email " >
                        <label asp-for="PatientEmail">Email</label>
                        <span asp-validation-for="PatientEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3  col-md-6 col-lg-6">
                    <div class="form-floating">
                        <input asp-for="PatientContryCode" id="PatientCountryCode" type="hidden" />
                        <input asp-for="PatientPhoneNumber" type="tel" class="form-control" id="PatientPhoneNumber" onchange="patientvalidatePhoneNumber()">
                        <span asp-validation-for="PatientPhoneNumber" class="text-danger"></span>
                        <span id="patienttextChange"></span>
                    </div>
                </div>
            </div>
            <h5 class="pt-4">Patient Location</h5>
            <div class=" row input-group mb-3 justify-content-between align-items-center">
                <div class="col-12 col-md-6 col-lg-6 mb-3">
                    <div class="form-floating">
                        <input asp-for="PatientRoomNumber" class="form-control" type="text" id="Room" placeholder="Room #/ Suit (Optional)" >
                        <label asp-for="PatientRoomNumber">Room # / Suit (Optional)</label>
                        <span asp-validation-for="PatientRoomNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="pb-4  btn d-flex justify-content-end">
                <button type="submit" class="btn btn-info mx-3 p-2 px-4 submit">Submit</button>
                <button type="button" class="btn btn-outline-info mx-2 p-2 px-4">Cancle</button>
            </div>
        </form>
    </div>

</div>

<partial name="~/Views/Shared/_PopUpModelForRequest.cshtml" />
<partial name="~/Views/Shared/_Footer.cshtml" />

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}