@model HalloDocs.Entities.ViewModels.PatientResetePasswordViewModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/patientloginpage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>

<body>
    <partial name="_Notification" />

    <div class=" main-area d-flex h-100 w-100 position-relative">
        <div class="backgroungdimg"></div>
        <div class=" h-100 w-100 d-flex flex-column justify-content-between align-items-center position-absolute">
            <div class="w-100 ">
                <div class="w-100 d-flex justify-content-end pt-2 px-5">
                    <button type="button" class="btn btn-outline-info " onclick="dark_mode()"><i class="bi bi-moon moon-icon "></i></button>
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <img src="~/SRS Screen Shorts/Fig56. Patient site 11.png" alt="">
                </div>
            </div>

            <div class="form">
                <a asp-route="PatientSite" class="align-text-left text-decoration-none text-info fs-5 fw-bolder">&lt; Back</a>
                <h2 class="text-black my-4">Reset Your Password</h2>

                <form asp-controller="Patient" asp-action="PatientResetePassword" method="post">
                    <div class="form-floating">
                        <input asp-for="Email" id="Username" class="form-control" placeholder="Enter Email" required>
                        <label>Enter Email</label>
                        <i class="bi bi-person-circle user-icon icon"></i>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button class="container btn btn-info text-white py-2" type="submit">Reset Password</button>

                </form>
                <div class=" text-center mt-4">
                    <a asp-route="PatientLoginPage" class="text-info fs-5 fw-bolder text-decoration-none"> &lt; Back To Login</a>
                </div>
            </div>
            <div class="text-center footer mb-5">
                <a href="#" class="text-muted text-decoration-none">Terms Of Conditions</a> |
                <a href="#" class="text-muted text-decoration-none">Privacy Policy</a>
            </div>

        </div>
    </div>
</body>

</html>
